USE [blogtruyen1]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 6/4/2020 10:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[idAuthor] [int] IDENTITY(1,1) NOT NULL,
	[nameAuthor] [ntext] NULL,
	[nation] [ntext] NULL,
	[information] [ntext] NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[idAuthor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 6/4/2020 10:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[idBook] [int] IDENTITY(1,1) NOT NULL,
	[nameBook] [ntext] NULL,
	[nameImage] [ntext] NULL,
	[idCategory] [int] NOT NULL,
	[summaryBook] [ntext] NULL,
	[idAuthor] [int] NOT NULL,
	[isDelete] [bit] NOT NULL,
	[idProducer] [int] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[idBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/4/2020 10:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[idCategory] [int] IDENTITY(1,1) NOT NULL,
	[nameCategory] [ntext] NULL,
	[information] [ntext] NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[idCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 6/4/2020 10:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[idChapter] [int] IDENTITY(1,1) NOT NULL,
	[nameChapter] [ntext] NULL,
	[contentChapter] [ntext] NULL,
	[idBook] [int] NOT NULL,
	[isDelete] [bit] NULL,
 CONSTRAINT [PK_Chapter] PRIMARY KEY CLUSTERED 
(
	[idChapter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([idAuthor], [nameAuthor], [nation], [information], [isDelete]) VALUES (9, N'tác giả 1', N'Quốc gia 1', N'Giới thiệu tác giả 1', 0)
INSERT [dbo].[Author] ([idAuthor], [nameAuthor], [nation], [information], [isDelete]) VALUES (10, N'tác giả 2', N'Việt Nam            ', N'asdasd', 0)
INSERT [dbo].[Author] ([idAuthor], [nameAuthor], [nation], [information], [isDelete]) VALUES (11, N'tác giả 3', N'Quốc gia 3', N'Giới thiệu tác giả 3', 0)
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([idCategory], [nameCategory], [information], [isDelete]) VALUES (11, N'Huyền Huyễn', N'Thể loại Huyền Huyễn (còn được gọi là Huyền Ảo) là những truyện có rất nhiều yếu tố kỳ ảo, phép thuật, được đặt trong bối cảnh siêu tưởng như tiên giới, ma giới... Nội dung chính chủ yếu xoay quanh về việc tu luyện pháp khí, ma pháp, tu đạo, pháp bảo, tu tiên....', 0)
INSERT [dbo].[Category] ([idCategory], [nameCategory], [information], [isDelete]) VALUES (12, N'Kiếm Hiệp', N'Kiếm Hiệp là những truyện có bối cảnh cổ trang, nhân vật chính là người trong các môn phái võ lâm, tu luyện võ công tâm pháp. Thông thường kết thúc truyện, võ công của nhân vật chính sẽ đạt đến mức thượng thừa, thống nhất hoặc quy ẩn giang hồ.', 0)
INSERT [dbo].[Category] ([idCategory], [nameCategory], [information], [isDelete]) VALUES (13, N'Lịch sử', N'Thường có bối cảnh vào các thời đại phong kiến, nhân vật chính sẽ sống lại hoặc xuyên không đến những triều đại ấy và thay đổi lịch sử.', 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Chapter] ON 

SET IDENTITY_INSERT [dbo].[Chapter] OFF
GO
ALTER TABLE [dbo].[Author] ADD  CONSTRAINT [DF_Author_isDelete]  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_isDelete]  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_isDelete]  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Chapter] ADD  CONSTRAINT [DF_Chapter_isDelete]  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([idAuthor])
REFERENCES [dbo].[Author] ([idAuthor])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([idCategory])
REFERENCES [dbo].[Category] ([idCategory])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [FK_Chapter_Book] FOREIGN KEY([idBook])
REFERENCES [dbo].[Book] ([idBook])
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [FK_Chapter_Book]
GO
